<!DOCTYPE html>
<html>
<head>
  <title>Statisfy - Your Shopify statistics and rankings</title>
  <meta name="description" content="Statisfy is a Shopify App which compares your shop against competitors from across the globe. See how well you rank." />
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>

<section role="navigation" class="navbar">
  <div class="navbar-inner">
    <div class="container">
      
      <%= link_to root_url, class: "brand" do %>
        <i class="icon-bar-chart icon-large"></i> <span class="orbitron">statisfy</span>
      <% end %>
      
      
      <% if current_shop %>
        <ul class="nav">
          <%= nav_link_to "My Crowns", shop_path(current_shop) %>
        </ul>
      <% end %>
      
      <ul class="nav pull-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <% if current_shop %>
              <%= current_shop.name %>
            <% else %>
              Sign Up or Log In
            <% end %>
            <b class="caret"></b>
          </a>
          <div class="row dropdown-menu">
            <% if current_shop %>
              <div class="span2">
                <%= link_to "Logout", logout_path %>
              </div>
            <% else %>
              <div class="span3 log-in">
                <%= form_tag "/login/authenticate" do |f| %>
                  <%= text_field_tag "shop", nil, placeholder: "Your Store URL", class: "pull-left" %>
                  <%= button_tag class: "btn pull-right btn-success" do %>
                    <i class="icon-caret-right"></i>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </li>
      </ul>
      
    </div>
  </div>
</section>

<section role="main" class="container">
  <%= yield %>
</section>

<section role="footer" class="footer">
  
  <div class="container">
    <hr class="soften">
  </div>
  <div class="container">
    <div class="span12">
      <%= link_to "Terms of Use", "#" %>
      <%= link_to "Privacy Policy", "#" %>
      <%= link_to "Help", help_path %>
      <%= link_to "@statisfy", "http://twitter.com/statisfy" %>
    </div>
  </div>
</section> 

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33363426-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
