<!DOCTYPE html>
<html>
<head>
  <title>Statisfy - Your Shopify statistics and rankings</title>
  <meta name="description" content="Statisfy is a Shopify App which compares your shop against competitors from across the globe. See how well you rank." />
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<section role="navigation" class="navbar">
  <div class="navbar-inner">
    <div class="container">
      
      <%= link_to root_url, class: "brand" do %>
        <i class="icon-bar-chart icon-large"></i> <span class="orbitron">statisfy</span>
      <% end %>
      
      <ul class="nav pull-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Sign Up or Log In
            <b class="caret"></b>
          </a>
          <div class="row dropdown-menu log-in">
            <div class="span3">
              <%= form_tag "/login/authenticate" do |f| %>
                <%= text_field_tag "shop", nil, placeholder: "Your Store URL", class: "pull-left" %>
                <%= button_tag class: "btn pull-right btn-success" do %>
                  <i class="icon-caret-right"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        </li>
      </ul>
      
    </div>
  </div>
</section>

<section role="main" class="container">
  <%= yield %>
</section>

<section role="footer" class="footer">
  
  <div class="container">
    <hr class="soften">
  </div>
  <div class="container">
    <div class="span12">
      <%= link_to "Terms of Use", "#" %>
      <%= link_to "Privacy Policy", "#" %>
    </div>
  </div>
</section> 

</body>
</html>
