<!DOCTYPE html>
<html>
<head>
  <title>statisfy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      
      <a class="brand" href="#">
        <i class="icon-bar-chart icon-large"></i> <span class="orbitron">statisfy</span>
      </a>
      
      <ul class="nav pull-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Sign Up or Log In
            <b class="caret"></b>
          </a>
          <div class="row dropdown-menu log-in">
            <div class="span3">
              <%= form_tag "" do |f| %>
                <%= text_field_tag "domain", nil, placeholder: "your-store.myshopify.com", class: "pull-left" %>
                <%= button_tag class: "btn pull-right" do %>
                  <i class="icon-caret-right"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        </li>
      </ul>
      
    </div>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
